<div
  *ngIf="dataLoaded == false"
  class="spinner-border text-primary"
  role="status"
>
  <span class="visually-hidden">Loading...</span>
</div>




<ul *ngIf="dataLoaded == true" class="list-group">
  <li
    (click)="nullCurrentBrand()"
    [class]="getCurrentAllBrandClass()" 
    routerLink="/cars" 
    class="p-3 mb-2 bg-dark bg-gradient text-white" 
    aria-current="true"
  >Tüm Markalar</li> 

<div class="mb-3">
  <label for="filterBrand" class="form-label"><strong>Marka ismi giriniz: </strong></label>
  <input type="text" [(ngModel)]="filterBrand" class="form-control" id="filterBrand" placeholder="Marka ara">
</div>

  <li *ngFor="let brand of brands | filterBrand:filterBrand" (click)="setCurrentBrand(brand)" 
  routerLink="/cars/brand/{{brand.brandId}}" [class]="getCurrentBrandClass(brand)">
    {{ brand.brandName }}
  </li>
</ul><hr>