<footer class="bg-dark text-center text-white">
    <div class="container">
        <div class="row">

            <div class="col-md-3 m-auto">
                <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Şirket Bilgisi</h5>
                <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto w-75">
                <p class="px-4">Güvenli bir şirketle güzel bir yolculuğa ne dersiniz? Yıllardan beridir büyümeye devam ediyoruz</p>
            </div>

            <div class="col-md-6 m-auto">
                <div class="effect thurio">
                    <h2 class="text-white mb-4">Rent A Car</h2>

                    <div class="social">
                        <a class="social-item me-3"><i class="bi-facebook"></i></a>
                        <a class="social-item me-3"><i class="bi-twitter"></i></a>
                        <a class="social-item me-3"><i class="bi-instagram"></i></a>
                        <a class="social-item"><i class="bi-linkedin"></i></a>
                    </div>

                    <!-- <div class="buttons">
                        <a class="bg-white fb text-dark" title="Join us on Facebook"><i class="bi bi-facebook"></i></a>
                        <a class="bg-white tw" title="Join us on Twitter"><i class="bi bi-twitter"
                                aria-hidden="true"></i></a>
                        <a class="bg-white insta" title="Join us on Instagram"><i class="bi bi-instagram"
                                aria-hidden="true"></i></a>
                        <a class="bg-white in" title="Join us on Linked In"><i class="bi bi-linkedin"
                                aria-hidden="true"></i></a>
                    </div> -->
                </div>
            </div>

            <div class="col-md-3 my-auto">
                <h6 class="text-uppercase mt-3">Contact</h6>
                <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto w-25">
                <p>
                    <i class="fas fa-home mr-3"></i> Baku, Azerbaycan
                </p>
                <p>
                    <i class="fas fa-envelope mr-3"></i> rentalcar@gmail.com
                </p>
                <p>
                    <i class="fas fa-phone mr-3"></i> + 994 55 777 56 88
                </p>
                <p>
                    <i class="fas fa-print mr-3"></i> + 994 55 777 56 98
                </p>
            </div>

        </div>
    </div>

    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        © 2020 Copyright:<a style="color: rgb(1, 225, 233);" routerLink="/"><b> Rent A Car</b></a>. Tüm Hakları Saklıdır
        |
        Bu Site <a href="https://github.com/mecazadam">Sahil Rzayev</a> Tarafından Tasarlanıp, Kodlanmıştır.
    </div>

</footer>