<!-- <div class="container"> -->
<div class="row">
  <div class="col-md-3">
    <app-brand></app-brand>
    <app-color></app-color>
  </div>
  <div class="col-md-9">
    <br />
    <div class="row">
      <div class="col-md-8">
        <div id="carouselExampleIndicators" class="carousel carousel-fade slide carousel-dark" data-bs-ride="carousel">
          <div class="carousel-inner">
            <div [class]="getSliderClassName(carimageUrl)" *ngFor="let carimageUrl of carImages">
              <img class="rounded float-start" src="https://localhost:44358/{{ carimageUrl.imagePath }}"
                class="d-block w-100" height="365" />
            </div>

            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
              data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
              data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
        </div>
      </div>
      <!-- <div class="w3-card-4" style="background-color: #2196f3;">
    <div class="w3-display-container w3-text-white">
        <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
            <div style="background-color: #2196f3;" class="carousel-indicators">
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
              <div  [class]="getSliderClassName(carimageUrl)"
              *ngFor="let carimageUrl of carImages">
                <img style="max-height:280px;background-size:contain;" src="https://localhost:44358/{{ carimageUrl.imagePath }}"class="d-block w-100" alt="" >
              </div>
             
            </div>
            <button style="background-color: #0d47a1;" class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"  data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button style="background-color:#0d47a1;" class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"  data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
    </div>
  </div> -->
      <div class="col-md-4">
        <div *ngIf="carDetails" class="card">
          <div class="card-body">
            <h5 class="card-title">
              <strong> {{ carDetails.brandName }}</strong>
            </h5>
            <p class="card-text">{{ carDetails.description }}</p>
          </div>

          <ul class="list-group list-group-flush">
            <li class="list-group-item">Brand : {{ carDetails.brandName }}</li>
            <li class="list-group-item">Color : {{ carDetails.colorName }}</li>
            <li class="list-group-item">
              Model Year : {{ carDetails.modelYear }}
            </li>
            <li class="list-group-item">
             <strong style="color: #f00000">New Daily Price : {{
                carDetails.dailyPrice | vatAdded: 10 | currency: "₺"
                }}</strong>
            </li>
            <li class="list-group-item">
              <!-- Daily Price : -->
              <del><strong style="color: #808080">Daily Price : {{
                  carDetails.dailyPrice | currency: "₺"
                  }}</strong></del>
            </li>
          </ul>

          <div class="card-body">
            <button type="button" class="btn btn-success" (click)="kirala()">
              Rent
            </button>

            &#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;
            &#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;
            <button type="button" class="btn btn-primary" routerLink="/cars" style="background: darkblue">
              Back
            </button>
          </div>
        </div>
        <!-- <div [style]="appRentalClass"><br><br>
        <app-rental></app-rental>
      </div> -->

        <br />
      </div>

      <div [style]="appRentalClass">
        <br /><br />
        <app-rental></app-rental>
      </div>
    </div>
  </div>
  <!-- </div> -->
</div>