<!-- <div class="container"> -->
<div class="row">
  <div class="col-md-3">
    <app-brand></app-brand>
    <app-color></app-color>
  </div>
  <div class="col-md-9">
    <div class="row">
      <div class="col-md-8">
        <div id="carouselExampleIndicators" class="carousel carousel-fade slide carousel-dark" data-bs-ride="carousel">
          <div class="carousel-inner">
            <div [class]="getSliderClassName(carimageUrl)" *ngFor="let carimageUrl of carImages">
              <img class="rounded float-start" src="https://localhost:44358/{{ carimageUrl.imagePath }}"
                class="d-block w-100" height="365" />
            </div>

            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
              data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
              data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
        </div>
      </div>
      <!-- <div class="w3-card-4" style="background-color: #2196f3;">
    <div class="w3-display-container w3-text-white">
        <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
            <div style="background-color: #2196f3;" class="carousel-indicators">
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
              <div  [class]="getSliderClassName(carimageUrl)"
              *ngFor="let carimageUrl of carImages">
                <img style="max-height:280px;background-size:contain;" src="https://localhost:44358/{{ carimageUrl.imagePath }}"class="d-block w-100" alt="" >
              </div>
             
            </div>
            <button style="background-color: #0d47a1;" class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"  data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button style="background-color:#0d47a1;" class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"  data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
    </div>
  </div> -->
      <div class="col-md-4">
        <div *ngIf="carDetails" class="card">
          <div class="card-body">
            <h5 class="card-title">
              <strong> {{ carDetails.brandName }}</strong>
            </h5>
            <p class="card-text">{{ carDetails.description }}</p>
          </div>

          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              <strong style="color: #252525">Findeks puanı : <button disabled style="border-radius: 50px; background-color: darkslategray;color: white;">{{carDetails.findexPoint}}</button></strong>
            </li>
            <li class="list-group-item">Marka : {{ carDetails.brandName }}</li>
            <li class="list-group-item">Renk : {{ carDetails.colorName }}</li>
            <li class="list-group-item">
              Model : {{ carDetails.modelYear }}
            </li>
            <li class="list-group-item">
             <strong style="color: #f00000">Yeni Günlük Fiyat : {{
                carDetails.dailyPrice | vatAdded: 10 | currency: "₺"
                }}</strong>
            </li>
            <li class="list-group-item">
              <del><strong style="color: #808080">Günlük Fiyat : {{
                  carDetails.dailyPrice | currency: "₺"
                  }}</strong></del>
            </li>
          </ul>

          <!-- <div> -->
            

          <div class="card-body" >
              <div *ngIf="findexPoint() && method()==false" class="alert alert-secondary text-center lead fw-normal">
                Findeks puanınız yeterli olmadığı için arabayı kiralayamazsınız. Findeks puanınız: {{ currentCustopmerOfFindexPoint }}
              </div>
            
            <button *ngIf="!findexPoint()" class="btn btn-success" (click)="kirala()">
              Kirala&nbsp;<svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="bi bi-cart3" viewBox="0 0 18 18">
                <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .49.598l-1 5a.5.5 0 0 1-.465.401l-9.397.472L4.415 11H13a.5.5 0 0 1 0 1H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l.84 4.479 9.144-.459L13.89 4H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
              </svg>
            </button>
            
            <button class="btn btn-primary float-end" routerLink="/cars" style="background: darkblue">
              Geri&nbsp;<svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="bi bi-backspace-fill" viewBox="0 0 18 20">
                <path d="M15.683 3a2 2 0 0 0-2-2h-7.08a2 2 0 0 0-1.519.698L.241 7.35a1 1 0 0 0 0 1.302l4.843 5.65A2 2 0 0 0 6.603 15h7.08a2 2 0 0 0 2-2V3zM5.829 5.854a.5.5 0 1 1 .707-.708l2.147 2.147 2.146-2.147a.5.5 0 1 1 .707.708L9.39 8l2.146 2.146a.5.5 0 0 1-.707.708L8.683 8.707l-2.147 2.147a.5.5 0 0 1-.707-.708L7.976 8 5.829 5.854z"/>
              </svg>
            </button>
          </div>
        <!-- </div> -->
        </div>
        <!-- <div [style]="appRentalClass"><br><br>
        <app-rental></app-rental>
      </div> -->

        <br />
      </div>

      <div [style]="appRentalClass">
        <br /><br />
        <app-rental></app-rental>
      </div>
    </div>
  </div>
  <!-- </div> -->
</div>