<!-- <table class="table" style="width: 500px;">
    <thead>
      <tr>
        <th scope="col-md-6">Id</th>
        <th scope="col-md-6">Renk</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let color of colors">
        <td>{{color.colorId}}</td>
        <td>{{color.colorName}}</td>
        <button type="button" class="btn btn-fill btn-primary">Güncelle</button>
      </tr>
    </tbody>
  </table>
  <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#exampleModal">
    Renk Ekle
  </button>
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div style="width: 300px;" class="modal-dialog">
      <div class="modal-content">
          <app-color-add></app-color-add>
      </div>
    </div> -->
    <div *ngIf="color" class="content" style="width: 105%;" >
      <div class="col-md-3">
        <div class="card" style="background-image: url(https://images.unsplash.com/photo-1578364249730-0c4ee16426fa?ixid=MXwxMjA3fDB8MHxzZWFyY2h8NXx8YmxhY2slMjBiYWNrZ3JvdW5kJTIwY2FyfGVufDB8fDB8&ixlib=rb-1.2.1&auto=format&fit=crop&w=400&q=60);">
          <div class="card-header">
            <h5 class="title" style="text-align:left;color: white;">Renk güncelle</h5>
          </div>
          <div class="card-body">
            <form [formGroup]="colorUpdateForm">
              <div class="mb-3">          
                <div class="form-group">              
                  <input
                    type="text"
                    id="colorName"
                    formControlName="colorName"
                    class="form-control"
                  />
                </div>
              </div>
            </form>
          </div>
          <div class="card-footer">
            <button class="btn btn-primary" (click)="update()" style="float: left;">Güncelle <i class="fas fa-pen"></i></button>
            <button class="btn btn-secondary float-end" routerLink="/colorOperations">Geri <i class="fas fa-arrow-circle-left"></i></button>
          </div>
        </div>
      </div>
    </div>
