<div class="content">
    <div class="col-md-12">
      <div class="card" style="background-image: url(https://images.unsplash.com/photo-1578364249730-0c4ee16426fa?ixid=MXwxMjA3fDB8MHxzZWFyY2h8NXx8YmxhY2slMjBiYWNrZ3JvdW5kJTIwY2FyfGVufDB8fDB8&ixlib=rb-1.2.1&auto=format&fit=crop&w=400&q=60);">
        <div class="card-header">
          <h5 class="title" style="text-align:left;color: white;">Renk ekle</h5>
        </div>
        <div class="card-body">
          <form [formGroup]="colorAddForm">
            <div class="mb-3">
              <div class="form-group">
                <input
                  type="text"
                  id="colorName"
                  formControlName="colorName"
                  class="form-control"
                  placeholder="Renk adı"
                />
              </div>
            </div>
          </form>
        </div>
        <div class="card-footer">
          <button class="btn btn-primary float-start" (click)="add()" data-bs-dismiss="modal">Ekle <i class="fas fa-plus"></i></button>
          <button class="btn btn-secondary" data-bs-dismiss="modal">Geri  <i class="fas fa-arrow-circle-left"></i></button>
        </div>
      </div>
    </div>
  </div>
  
  