<!-- <div
  *ngIf="dataLoaded == false"
  class="spinner-border text-primary"
  role="status"
>
  <span class="visually-hidden">Loading...</span>
</div>
<table *ngIf="dataLoaded == true" class="table" routerLink="/cars/cardetail/rental/:carId"> 
  <thead>
    <tr>
      <th class="p-3 mb-2 bg-dark text-white">Id</th>
      <th class="p-3 mb-2 bg-secondary text-white">Brand</th>
      <th class="p-3 mb-2 bg-dark text-white">Color</th>
      <th class="p-3 mb-2 bg-secondary text-white">First Name</th>
      <th class="p-3 mb-2 bg-dark text-white">Last Name</th>
      <th class="p-3 mb-2 bg-secondary text-white">Rent Date</th>
      <th class="p-3 mb-2 bg-dark text-white">Return Date</th>
    </tr>
  </thead>
  <tr *ngFor="let rental of rentals">
    <td class="p-3 mb-2 bg-dark text-white">{{ rental.id }}</td>
    <td class="p-3 mb-2 bg-secondary text-white">{{ rental.brandName }}</td>
    <td class="p-3 mb-2 bg-dark text-white">{{ rental.colorName }}</td>
    <td class="p-3 mb-2 bg-secondary text-white">{{ rental.customerFirstName }}</td>
    <td class="p-3 mb-2 bg-dark text-white">{{ rental.customerLastName }}</td>
    <td class="p-3 mb-2 bg-secondary text-white">{{ rental.rentDate }}</td>
    <td class="p-3 mb-2 bg-dark text-white">{{ rental.returnDate }}</td>
  </tr>
</table>  -->
<!-- <div class="d-grid gap-2">
  
<button type="button" routerLink="/cars/cardetail/rental/:carId" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
  Kirala</button></div>
<div> -->
  <!-- <form [formGroup]="addRentCarForm" (ngSubmit)="checkCarRentable()">
  <div>
    <div style="text-align:right; width:150%; padding:0;">
  <div class="row">
    <div class="col-md-4">
      <label for="rentDate" style="text-align:left; width:150%; padding:0;"><b>Alış Tarihi:</b></label>
  <input formControlName="rentDate" type="date" class="form-control" id="rentDate">
  </div>
  </div><br>
 
  <div class="row">
  <div class="col-md-4">
    <label for="rentDate" style="text-align:left; width:150%; padding:0;"><b>Teslim Tarihi:</b></label>
    <input formControlName="returnDate" type="date" class="form-control"  id="returnDate">
  </div>
  </div><br>  
     
  <div class="row">
    <div class="col-md-4">
      <label for="customerSelect" style="text-align:left; width:150%; padding:0;"><b>Müşteriler:</b></label>
    <select formControlName="customerId" id="customerSelect" class="form-select" aria-label="Müşteriler"> 
      <option *ngFor="let customer of customers" value="{{customer.customerId}}">{{customer.firstName}} {{customer.lastName}}</option>
    </select>
  </div>
  </div>

</div><br>
  <div  class="col-md-8" style="text-align:center; width:85%; padding:5;">
    <button type="button" class="btn btn-primary" style="background: rgb(5, 167, 13);" data-bs-toggle="modal" data-bs-target="#exampleModal">
      Ödeme yap</button></div></div></form> -->
        
<form [formGroup]="addRentCarForm">
  <div class="row">
     <div class="col-lg-6">
        <div class="form-floating mb-3">
           <input type="datetime-local" class="form-control" id="rentDate"
                  formControlName="rentDate" placeholder="rentDate">
           <label for="rentDate">Kiralama Tarihi</label>
        </div>
     </div>
     </div>
     <div class=row>
     <div class="col-lg-6">
        <div class="form-floating">
           <input type="datetime-local" class="form-control" id="returnDate"
                  formControlName="returnDate" placeholder="returnDate">
           <label for="returnDate">Teslim Tarihi</label>
        </div>
     </div>
  </div><br>

  <div class="col-md-8" style="text-align:center; width: 40px;">
     <button style="background-color: rgba(28, 167, 58, 0.986); width: 470px; height: 40px; align-items:flex-start ;" *ngIf="carId" class="btn btn-sm btn-primary" (click)="checkCarRentable()" [disabled]="addRentCarForm.invalid">
        <i class="bi-credit-card-fill me-1"></i><b>
          Ödeme&nbsp;<svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="bi bi-credit-card-fill" viewBox="0 0 18 20">
            <path d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v1H0V4zm0 3v5a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V7H0zm3 2h1a1 1 0 0 1 1 1v1a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1v-1a1 1 0 0 1 1-1z"/>
          </svg></b> 
     </button>
  </div>
</form>
   