<body style="
    background-image: url(https://mdbcdn.b-cdn.net/img/Photos/Others/images/76.jpg); 
    background-origin: center;">
       

  <div class="container">
    <app-navi></app-navi>

    <div class="row">
      <div class="col-md-3">
        <app-brand></app-brand>
        <app-color></app-color>
      </div>

      <div class="col-md-9">
        <!-- <app-car></app-car> -->
        <router-outlet></router-outlet>
      </div>
    </div>

    

    <div class="row">
      <div class="col-md-8">
        <app-rental></app-rental>
      </div>
      <div class="col-md-4">
        <app-customer></app-customer>
      </div>
    </div>

    
  </div>
 </body>
