<div
  *ngIf="dataLoaded == false"
  class="spinner-border text-primary"
  role="status"
>
  <span class="visually-hidden">Loading...</span>
</div>








<!-- <div class="card-group"> -->
<!-- <div class="row row-cols-1 row-cols-md-3">
  <div class="col">
                              /cars/cardetail/{{car.carId}}
<div class="card-group">
    <div *ngFor="let carimage of carImages" class="card" style="width: 18rem">
      <img src="https://localhost:44358{{carimage.imagePath}}" class="card-img-top" alt="random" />
      <div *ngFor="let car of cars" class="card-body" >
        <h5 class="card-title">{{ car.description }}</h5> 
        <p class="card-text">{{ car.dailyPrice }} ₺</p>
        <button style="text-align:right;" class="btn btn-primary">Details</button>
      </div>
    </div>
  </div>
</div>
</div> -->



<!-- <h4>{{title}}</h4>

<div class="form-group">
  <input class="form-control" placeholder="Search Car" [(ngModel)]="carFilterText" />
  <small class="form-text text-muted" *ngIf="carFilterText"> now {{ carFilterText }} </small>
</div> -->

<div class="row" *ngIf="cars.length == 0">
  <div class="col-md-12">
    <div class="alert alert-danger">
      Car is not found to show.
    </div>
  </div>
</div>

<div class="row" *ngIf="dataLoaded==true" >
  <div class="col-md-4" *ngFor="let car of cars">
    <!-- | carFilter:carFilterText -->
    <div class="card">
      <div>
        <img  src="https://localhost:44358/{{ car.imagePath ? car.imagePath : '/images/null.jpg' }}" class="card-img-top" width="auto" height="150px">
       </div>
      <div class="card-body" style="background-color:ghostwhite;">
        <h5 class="card-title"> <b> {{car.brandName}} - {{car.modelYear}} </b></h5>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item"> <b>Color:</b> {{car.colorName}}</li>
        <li class="list-group-item text-center"> <b> {{car.dailyPrice}}₺ </b> </li>
        <li class="list-group-item text-center"> <button routerLink="/cars/cardetail/{{car.carId}}" type="button" class="btn btn-info w-100">Details</button> </li>
        <!-- <li class="list-group-item text-center"> <button (click)="addToCart(cardetail)" type="button" class="btn btn-success w-100">Add To Cart</button> </li> -->
      </ul>
    </div>
  </div>
</div>