<div class="text-center" style="margin-left: 35%;height: 650px;width: 400px;background-repeat: no-repeat;background-size: 400px 650px;
background-image: url(https://images.unsplash.com/photo-1485758152456-1e91810337e0?ixid=MXwxMjA3fDB8MHxzZWFyY2h8MTg0fHxibGFjayUyMGJhY2tncm91bmQlMjBjYXJ8ZW58MHx8MHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=400&q=60);">

    <main class="form-signin" style="padding: 10%;">
        <form [formGroup]="customerUpdateForm">
            <!-- <img class="mb-4" src="{{imageUrl}}{{defaultImage}}" alt="" width="90" height="70"> -->
            <h1 class="h3 mb-3 fw-normal" style="color: honeydew;">Update the account</h1>

            <div class="form-floating">
                <input formControlName="firstName" type="text" class="form-control" id="firstName"
                    placeholder="Name">
                <label for="floatingInput">Name</label>
            </div>

            <div class="form-floating">
                <input formControlName="lastName" type="text" class="form-control" id="lastName"
                    placeholder="Surname">
                <label for="floatingInput">Surname</label>
            </div>

            <div class="form-floating">
                <input formControlName="companyName" type="text" class="form-control" id="companyName"
                    placeholder="Company Name">
                <label for="floatingInput">Company Name</label>
            </div>

            <div class="form-floating">
                <input formControlName="email" type="email" class="form-control" id="email"
                    placeholder="name@example.com">
                <label for="floatingInput">Email</label>
            </div>

            <div class="form-floating">
                <input formControlName="password" type="password" class="form-control" id="password"
                    placeholder="password">
                <label for="floatingPassword">Password</label>
            </div>

            <div class="form-floating">
                <input formControlName="confirmPassword" type="password" class="form-control" id="confirmPassword"
                    placeholder="Verify password">
                <label for="floatingPassword">Verify Password</label>
            </div><br><br>
            <button class="w-100 btn btn-lg btn-primary" type="submit" (click)="update()">Update</button>
            <p class="mt-5 mb-3 text-muted">&copy; 2017–2021</p>
        </form>
    </main>



</div>
